.textCenter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inputDescripcion {
    width: 92%;
}

h2 {
    margin-bottom: 1%;
}

h3 {
    margin-bottom: 0;
}

.content {
    margin-left: 1%;
}

.header-modal {
    margin-top: 2%;
    margin-left: 1%;
}

.nuevaTarea {
    display: flex;
    flex-direction: row;
}

.contentActions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;
}