<div class="pure-g">
    <div class="pure-u-1 textCenter">
        <h2 mat-dialog-title>{{tarjeta.Titulo}}</h2>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="pure-u-22-24">
        <mat-divider></mat-divider>
    </div>
    <div class="pure-u-1 mt-1">
        <h2 mat-dialog-content>Descripción</h2>
        <mat-dialog-content class="content" *ngIf="!showDescripcion">
            <h3 (click)="controlDescripcion()">{{tarjeta.Descripcion}}</h3>
        </mat-dialog-content>
        <!-- Seccion para agregar descripción -->
        <mat-form-field class="inputDescripcion" *ngIf="showDescripcion">
            <mat-label>Agregar una descripción</mat-label>
            <textarea matInput [formControl]="descripcion" placeholder="Ejem: Esta tarea..." (keyup.Escape)="controlDescripcion()" #info></textarea>
            <button type="button" mat-button *ngIf="info.value" matSuffix mat-icon-button aria-label="Clear" (click)="info.value=''">
                <mat-icon>close</mat-icon>
            </button>
            <button mat-stroked-button (click)="guardarDescripcion()">Guardar</button>
            <button mat-icon-button (click)="controlDescripcion()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <section class="nuevaTarea">
            <button mat-stroked-button *ngIf="!tarjeta.Descripcion" [disabled]="showDescripcion" (click)="controlDescripcion()">Agregar descripción
                <mat-icon aria-hidden="false" aria-label="Agregar una descripción">add</mat-icon>
            </button>
        </section>
    </div>
    <div class="pure-u-1 mt-1">
        <!-- Área de todas las tareas -->
        <h2 mat-dialog-content class="mb-1">Lista de tareas</h2>
        <mat-dialog-content class="content">
            <app-tareas *ngFor="let tarea of this.tarjeta.Tareas" (actualizarTareas)="resetTareas()" [tarea]="tarea" [idTarjeta]="tarjeta.IdTarjeta"></app-tareas>
        </mat-dialog-content>

        <!-- Seccion para añadir una nueva Tarea -->
        <div class="inputNuevaTarea" *ngIf="showNuevaTarea">
            <mat-form-field class="w-80">
                <mat-label>Añada una nueva tarea</mat-label>
                <textarea matInput [formControl]="nuevaTarea" (keyup.escape)="controlNuevaTarea()" #Descripcion></textarea>
                <button type="button" mat-button *ngIf="Descripcion.value" matSuffix mat-icon-button aria-label="Clear" (click)="Descripcion.value=''">
                    <mat-icon>close</mat-icon>
                </button>
                <button type="button" mat-stroked-button (click)="crearTarea()">Añadir</button>
                <button mat-icon-button (click)="controlNuevaTarea()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <!-- <div class="pure-u-1-4 contentActions" *ngIf="showNuevaTarea">
            <button type="button" mat-raised-button color="primary" (click)="crearTarea()">Añadir</button>
            <button mat-raised-button color="warn" (click)="controlNuevaTarea()">Cancelar</button>
        </div> -->
        <section class="nuevaTarea">
            <button mat-stroked-button (click)="controlNuevaTarea()" [disabled]="showNuevaTarea">Nueva Tarea
                <mat-icon aria-hidden="false" aria-label="Agregar nueva tarea">add</mat-icon>
            </button>
        </section>
    </div>
</div>