<div class="seccionFooter">
    <div class="inputsNuevaTarjeta" *ngIf="showInputNuevaTarjeta" #divTarjeta>
        <mat-form-field class="w-100">
            <mat-label>Nueva Tarjeta</mat-label>
            <input matInput type="text" [formControl]="tituloTarjeta" (keyup.enter)="guardarTarjeta()" (keyup.escape)="nuevaTarjeta()" autofocus #tarjeta>
            <button mat-button *ngIf="tarjeta.value" matSuffix mat-icon-button aria-label="Clear" (click)="tarjeta.value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div *ngIf="showInputNuevaTarjeta">
        <button mat-flat-button color="primary" (click)="guardarTarjeta()">
            Guardar Tarjeta
        </button>
        <button mat-icon-button (click)="nuevaTarjeta()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <button mat-stroked-button (click)="nuevaTarjeta()" *ngIf="!showInputNuevaTarjeta">
        Nueva Tarjeta
        <mat-icon>add</mat-icon>
    </button>
</div>