.textHeader {
    display: flex;
    margin: 0;
    justify-content: center;
    flex-grow: 4;
}

.seccionHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.seccionButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
}

.pb-0 {
    padding-bottom: 0;
}