.seccion {
    margin-left: 2%;
    margin-top: 2%;
    padding-top: 8px;
    margin-bottom: auto;
    width: 30%;
}

.seccionOptions {
    margin-left: 2%;
    margin-top: 2%;
    padding-top: 8px;
    width: 25%;
    height: 45%;
}

.buttonSeccion {
    margin-left: 2%;
    margin-top: 2%;
}

.seccionHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

.contentSeccion {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.seccionFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0;
    margin-bottom: 0;
}

.textHeader {
    display: flex;
    margin: 0;
    justify-content: center;
    flex-grow: 4;
}

.margin-null {
    margin: 0 0 0 0 !important;
}

.w-100 {
    width: 100%;
}