<mat-card class="seccion" *ngFor="let seccion of secciones; index as i">
    <div>
        <app-seccion-header (showNuevaTarjeta)="nuevaTarjeta($event)" [seccion]="seccion"></app-seccion-header>
    </div>

    <mat-divider class="pure-u-1"></mat-divider>
    <mat-card-content>
        <app-tarjetas [allTarjetas]="seccion.Tarjetas" [idSeccion]="seccion.IdSeccion"></app-tarjetas>
    </mat-card-content>
</mat-card>

<!-- Card para agregar una seccion -->
<mat-card class="seccionOptions" *ngIf="showInputNuevaSeccion">
    <form [formGroup]="mainPage">
        <mat-form-field class="pure-u-1">
            <mat-label>Ingresar nombre</mat-label>
            <input matInput type="text" formControlName="tituloSeccion" placeholder="Nueva lista de tareas">
        </mat-form-field>
        <mat-card-actions class="seccionFooter">
            <button mat-flat-button color="primary" class="mr-2" (click)="GuardarNuevaSeccion()">Añadir</button>
            <button mat-flat-button color="warn">Cancelar</button>
        </mat-card-actions>
    </form>
</mat-card>

<!-- boton agregar Seccion -->
<div class="buttonSeccion" *ngIf="!showInputNuevaSeccion">
    <button mat-flat-button (click)="NuevaSeccion()">
        <mat-icon>add</mat-icon>
        Agregar Sección
    </button>
</div>