<mat-toolbar class="navbar" color="primary">
    <mat-form-field appearance="fill">
        <mat-select [value]="selectTablero" disableRipple (selectionChange)="cambiarTablero($event.value)">
            <mat-option [value]="tablero.IdTablero" *ngFor="let tablero of tableros">{{tablero.Titulo}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="openConfig(titulo)">
      <mat-icon>miscellaneous_services</mat-icon>
    </button>
</mat-toolbar>

<div class="pure-u-1 main">
    <app-secciones class="secciones main" cdkDropListGroup></app-secciones>
</div>