.tarjeta {
    margin-top: 8% !important;
    cursor: pointer;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 1%;
}

.margin-null {
    margin: 0 0 0 0 !important;
}

.textCenter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemsCenter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.seccionFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.headerTarjeta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}