<mat-card class="tarjeta">
    <div class="headerTarjeta" *ngIf="!showInputTarjeta">
        <div class="divCard" (click)="mostrarDialogo(tarjeta)">
            <h3 class="margin-null" [ngClass]="{'edit':overTimerTarjeta}" (mouseover)="overTarjeta()">{{tarjeta.Titulo}}</h3>
        </div>
        <button mat-icon-button aria-label="Borrar Tarjeta" (click)="mostrarConfirmacion()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-card-content *ngIf="showInputTarjeta">
        <mat-form-field class="inputsTarjeta" *ngIf="showInputTarjeta">
            <mat-label>{{tarjeta.Titulo}}</mat-label>
            <input matInput [formControl]="tituloNuevo" placeholder="Nuevo Titulo" (keyup.enter)="guardarCambios()" (keyup.Escape)="editarTarjeta()" autofocus>
        </mat-form-field>
        <div class="itemsCenter">
            <button mat-flat-button color="primary" (click)="guardarCambios()">Guardar</button>
            <button mat-flat-button color="warn" (click)="editarTarjeta()">Cancelar</button>
        </div>
    </mat-card-content>
</mat-card>

<mat-menu #menuTarjeta="matMenu" xPosition="after">
    <button mat-menu-item>
        Editar
        <mat-icon >create</mat-icon>
    </button>
    <button mat-menu-item (click)="mostrarConfirmacion()">
        Eliminar
        <mat-icon >delete</mat-icon>
    </button>
</mat-menu>